/* App.css */
.doc-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  color: black;
  height: 100vh;
}

.doc-form .input {
  width: 100%;
  max-width: 600px;
  height: 100px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.doc-form .section {
  margin-bottom: 20px;
  width: 100%;
}

.doc-form .section textarea {
  box-sizing: border-box;
  background-color: rgba(99, 101, 241, 0.048);
  border: thin solid rgba(99, 101, 241, 0.749);
  outline: none;
  color: black;
  resize: none;
}

.doc-form .tom, .doc-form .format {
    background-color: rgba(99, 101, 241, 0.027);
    padding: 5%;
    border-radius: 10px;
}

.doc-form .label {
  font-weight: bold;
  font-family: Montserrat;
  font-size: medium;
  display: block;
  margin-bottom: 10px;
  color: var(--primary-color);
}

.doc-form .button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.doc-form .button {
  padding: 7px 15px;
  border: 1px solid rgba(99, 101, 241, 0.231);
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(61, 61, 61);
  transition: .3s;
}

.doc-form .button:hover {
  border-color: rgba(99, 101, 241, 0.863);
}

.doc-form .button.active {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  font-weight: bold;
}
