@import url(./index.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body, html, #root {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: Montserrat;
  font-size: 12pt;
  overflow: hidden;
  box-sizing: border-box;
}

.dashboard {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-template-rows: 50px 1fr;
  height: 100vh;
}

.header {
  grid-column: 1 / -1;
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(5, auto) 1fr auto;
  gap: 10px;
  padding: 10px;
  border-bottom: thin solid rgb(228, 228, 228);
}

.sidebar {
  gap: 10px;
  display: grid;
  background-color: #fff;
  grid-template-rows: repeat(3, auto);
  border-right: thin solid rgb(228, 228, 228);
}

.sidebar .menu-apps {
  display: grid;
  grid-template-rows: repeat(4, auto);
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: center;
}

.sidebar .menu-apps li {
  border-radius: 5px;
  height: 35px;
  width: 35px;
  margin-bottom: -30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: thin solid transparent;
}

.sidebar .menu-apps a {
  text-decoration: none;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar .menu-apps a img {
  width: 25px;
  height: 25px;
}

.sidebar .menu-apps li:hover {
  border: thin solid #e7e7e7;
}

.content {
  background-color: #fff;
}

.button {
  border-radius: 10px;
  min-height: 40px;
}

.doc {
  display: grid;
  grid-template-columns: 1.2fr 3fr;
  height: 100vh;
}

.bar {
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  border-right: thin solid #f2f2f2;
  overflow-y: scroll;
  overflow-x: hidden; /* Adicione esta linha */
  padding: 2%;
  margin-bottom: 50px;
}

.document-type, .models, .incorporate-data {
  padding: 20px;
  box-sizing: border-box; /* Incluir padding e bordas na largura total */
}

.document-type select,
.document-type textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: thin solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.document-type textarea {
  height: 70px;

}

.document-type button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.document-type button:hover {
  background-color: #0056b3;
}

.models button, .incorporate-data button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.models button:hover, .incorporate-data button:hover {
  background-color: #0056b3;
}

.out {
  background-color: #ffffff;
  padding: 40px;
  overflow-y: auto;
}

.petition-content {
 margin: 2%;
 padding: 5%;
 background-color: rgba(99, 101, 241, 0.048);
 border: thin solid rgb(99, 101, 241);
 border-radius: 10px;
}

.petition-content h1 {
  margin-top: 0;
}

.petition-content p {
  margin: 20px 0;
}
