/* Custom Scrollbar */
::-webkit-scrollbar,
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  background: #e0e0e0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:hover {
  background: #c5c5c5;
}

:root {
  --primary-color: rgb(99, 102, 241);
}

* {
  box-sizing: border-box;
}